@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

#nom-resto{
    font-family: "Monsieur La Doulaise", cursive;
    text-align: center;
    background-color: white;
    padding-bottom: 5px;
}

#nom-resto>h1{
    font-size: 70px;
    margin: 0px;
}

#nom-resto>p{
    font-size: 20px;
    margin-top: -1%;
}

header{
    position: sticky;
    top: 0;
    grid-row: 1;
    z-index: 1000;
    background-color: white;
}

body{
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0;
}

section{
    grid-row: 2;
    margin: 2% 10% 0 10%;
    columns: 2;
}