@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

#nom-resto{
    font-family: "Monsieur La Doulaise", cursive;
    text-align: center;
    background-color: white;
    padding-bottom: 5px;
}

#nom-resto>h1{
    font-size: 70px;
    margin: 0px;
}

#nom-resto>p{
    font-size: 35px;
    margin-top: -1%;
}

header{
    position: sticky;
    top: 0;
    grid-row: 1;
    z-index: 1000;
    background-color: white;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 2%;
}

section{
    grid-row: 2;
    margin: 2% 10% 0 10%;
    columns: 2;
}

.tool-bar{
    text-align: center;
    list-style: none;
}

.tool-bar {
    padding-inline-start: 0px;
}

.tool-bar > li{
    display: inline;
}

.tool-bar > li > a{
    color: #015001;
    text-decoration: none;
}

.tool-bar > li:hover{
    font-weight: bold;
}

.tool-bar > li > a:hover{
    color: #030301;
}

.plats{
    margin-left: 40px;
    font-style: italic;
    display: inline-block;
}

.block{
    border: 2px black solid;
    width: 25%;
    height: 25%;
    margin: auto;
    text-align: center;
    
}