body{
    margin: 10px;
}

fieldset {
    border: solid #030301;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 0 0 10px gold;
    width: 40%;
    margin: auto;
}

form div {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px ;
}

a {
    font-size: 15px;
    border: 0px;
    background-color: transparent;
    color: #030301;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
}

#conteneur {
    margin: 0 auto;
    text-align: center;
}

legend{
    font-weight: bold;
    font-size: 25px;
}

.intitule {
    min-width: 220px;
    font-weight: bold;
}

input[name="inscription"]{
    margin-top: 8px;
    padding: 8px 35px;
    font-weight: bold;
    background-color: #030301;
    color: white;
    border-radius: 20px;
    border: solid #030301;
}

input[name="inscription"]:hover {
    background-color: #333333;
    border-color: #333333;
}

.reponse2 {
    display: block;
    text-align: center;
}

@media screen and (max-width: 900px){
    body{
        font-size: 10px;
    }
    .intitule, .champ{
        min-width: 120px;
    }
}