html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulle{
    background-color: #0f0f0f;
    color: #f5f5f5;
    border: solid #030301;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 0 0 10px gold;
    max-width: 600px;
    width: 100%;
}

.bulle h1{
    margin-bottom: 20px;
}

.ligne{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.intitule{
    min-width: 170px;
    font-weight: bold;
}

.etoiles{
    display: flex;
    flex-direction: row-reverse;
}

.etoiles input{
    display: none;
}

.etoiles label{
    font-size: 30px;
    color: #ccc;
}

.etoiles input:checked ~ label{
    color: gold;
}

.commentaires{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.commentaires textarea{
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    background-color: #0f0f0f;
    color: #f5f5f5;    
}

.button-centre{
    text-align: center;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;

}

button:hover{
    background-color: #333;
}

.naviagation-bar:hover{
    text-decoration: none;
}

.naviagation-bar ul li a:hover{
    text-decoration: none;
}
