:root{
    --color : #149414;
}

body{
    background-color: black;
    color: var(--color);
}

h1{
    text-align: center;
}

section{
    padding: 1rem;
}

.graphique{
    text-align: center;
}

.table-utilisateur{
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}

.grid{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
}

.table ul{
    list-style: none;
}

th,td{
    padding: 0.5rem;
}

.bloquer{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}