#panier > img{
    width: 16px;
    text-align: right;
}

#panier > p{
    text-align: right;
}

section{
    columns: 1;
}

.image{
    height: 16px;
}

.contenent{
    padding: 2px;
}

.contenent > h2 {
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
}

.sugestions {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.sugestions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}


.plats {
    font-style: italic;
}



.block p{
    font-size: 20px;
}