:root {
    --bg-block: rgb(26, 25, 25);
    --border-color: white;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.block {
    background-color: rgb(26, 25, 25);
    border: 1px white solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: break-word;
}

.commande {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 5px;
}

.block ul {
    list-style: none;
    padding: 0;
}

.block li {
    padding: 8px 0;
    border-bottom: 1px dotted #444;
}

.block button {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
}

#Complement {
    text-align: left;
    font-style: italic;
    color: #aaa;
    font-size: 0.9em;
}

/* La barre de boutons */
.tabs-nav {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

.tabs-nav button {
	padding: 12px 24px;
	background: #333;
	color: white;
	border: 1px solid #555;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.tabs-nav button:hover {
	background: #444;
}

/* Le conteneur qui affiche les blocs en colonnes */
.colonne-commandes {
	display: grid;
	/* Crée autant de colonnes de 300px minimum que possible */
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 20px;
	width: 100%;
    padding: 50px;
}

/* On annule le flex column du parent pour ne pas gêner */
#liste-commandes {
	display: block; /* Change de flex à block */
}

#Complement {
    text-align: left;
    font-style: italic;
    color: #aaa;
    font-size: 0.9em;
}

#barre-recherche {
	padding: 50px;
	text-align: center;
}

#barre-recherche input[type="text"] {
	height: 100%;
}

#barre-recherche input[type="submit"] {
	border: none;
	color: black;
	background-color: white;
}

@media screen and (max-width: 1024px) {
	#main-content {
		padding: 10px;
	}

	.colonne-commandes {
		gap: 15px;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}

	.block {
		margin: 0;
	}

	.block button {
		padding: 15px;
	}
}

@media screen and (max-width: 600px) {
	.colonne-commandes {
		grid-template-columns: 1fr;
	}

	summary h2 {
		font-size: 1.2rem;
	}
}
